@model MemberSystem.Web.ViewModels.NavbarViewModel

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    @if (Model.RoleName == "Admin")
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="ProgressForAdmin">註冊查詢</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">會員列表</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="ApproveMember">審核會員</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Report" asp-action="Index">(請假)報表查詢</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Report" asp-action="LogReport">(Log)報表查詢</a>
        </li>
    }
    @if (Model.RoleName == "TeamLeader" || Model.RoleName == "DepartmentManager")
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Leave" asp-action="CheckLeaveRequest">請假審核</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Report" asp-action="Index">(請假)報表查詢</a>
        </li>
    }

    @if (Model.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Leave" asp-action="Index">請假申請</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Leave" asp-action="ApprovalList">請假查詢</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">註冊</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Progress">註冊查詢</a>
        </li>
    }
</ul>
