@model MemberSystem.Web.ViewModels.NavbarViewModel

<ul class="navbar-nav flex-grow-1">
    @if (Model.IsAdmin)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Member" asp-action="Profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">會員列表</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="ApproveMember">審核會員</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="ProgressForAdmin">註冊查詢</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Leave" asp-action="Index">請假申請</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Leave" asp-action="ApprovalList">請假查詢</a>
        </li>
    }
    else if (Model.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Member" asp-action="Profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Leave" asp-action="Index">請假申請</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Leave" asp-action="ApprovalList">請假查詢</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">註冊</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Progress">註冊查詢</a>
        </li>
    }
</ul>
